.table {
  padding: 1rem;
}
.title-table {
  font-weight: 400;
  padding-left: 1rem;
  padding-top: 1rem;
}
.ant-space-item {
  a {
    color: #5899ba;
  }
}
.sBox {
  margin: 10px;
  height: 40px;
}
.searchInput {
  height: 100%;
  width: 30%;
  box-sizing: border-box;
  border-radius: 10px;

}
