.col-lg-4{
    width: 33.333%;
}
.row{
    display: flex;
}
.mt-3{
    margin-top: 3rem;
}
ul{
    list-style: none;
    padding: 0;
    margin: 1rem 0;
    li{
        font-weight: 500;
    }
}
.fb{
    font-weight: 500;
    
}